#
# Copyright (C) 2017-2018 Dremio Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

{% for host in groups["_group_zookeeper"] %}
zookeeper: "{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}"
{% endfor %}
zk.client.session.timeout: 90000

paths: {
  local: "{{dremio_local_path}}",
  
  # the distributed path Dremio data including job results, downloads, uploads, etc
  dist: "pdfs://"${paths.local}"/pdfs",
  
  {% if inventory_hostname == groups['_group_coordinator'][0] %}
  # location for catalog database (if master node)
  db: ${paths.local}/db,
  {% endif %}

  spilling: [/data/spill],
  # storage area for the accelerator cache.
  accelerator: ${paths.dist}/accelerator
  
  # staging area for json and csv ui downloads
  downloads: ${paths.dist}/downloads,

  # stores uploaded data associated with user home directories
  uploads: ${paths.dist}/uploads,

  # stores data associated with the job results cache.
  results: ${paths.dist}/results,
  
  # shared scratch space for creation of tables.
  scratch: ${paths.dist}/scratch
}

services: {
  coordinator: {
    enabled: true,

    # Auto-upgrade Dremio at startup if needed
    auto-upgrade: false,

    master: {
      enabled: {% if inventory_hostname == groups['_group_coordinator'][0] %} true {% else %} false {% endif %},
      embedded-zookeeper: {
        enabled: false
      }
    },
    web: {
      enabled: true,
      port: 9047,
      ssl: {
        enabled: false,
        # Path to KeyStore file
        keyStore: ${javax.net.ssl.keyStore},
        # Password to access the keystore file
        keyStorePassword: ${javax.net.ssl.keyStorePassword},
        # Path to TrustStore file
        trustStore: ${javax.net.ssl.trustStore},
        # Password to access the truststore file
        trustStorePassword: ${javax.net.ssl.trustStorePassword},
        # Allow for auto-generated certificates if keyStore option is not set
        # Autogenerated self-signed certificates are considered insecure, and this
        # option should be set to false in production environment
        auto-certificate.enabled: true
      },
      auth: {
        type: "internal"
      },
    },
  },

  executor: {
    enabled: false
  },
}